@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  padding: 0px; 
  margin: 0; 
  box-sizing: border-box; 
}

::selection{
  color: #fff;
  background: #ff954a;
}

.header {
 
      width: 100% !important;
      padding:30px 0px !important;
      margin-top:0px !important;
      display: flex !important;
      justify-content:space-around !important;
      align-items: center !important;
      background: linear-gradient(to left ,#17b176, #f42424 ) ;  
      position: fixed !important;
      top: 0;
      left: 0;
      z-index: 1000 !important; 
  
  

}.logo0{
  padding-left: 3%;
}

/* .logo1 {
  margin-left: 0;

} */
.logo2 {
  padding-right:0px;
}

.navbar-brand{
  color:rgb(60, 54, 243) !important;
}

.navbar-brand:hover {
  color: rgb(12, 8, 126) !important;
}

h1 {
  font-size:32px;
  color:#626a67;
  font-weight: bold;
  text-align: center;
}

.banner {
  width: 100%;
  background-image :url("https://github.com/hqteamobi/web_shop_ban_hang/blob/main/assets/banner.png?raw=true");
  height: 463px;
  margin-top:100px;
  display: flex;
  padding:0px 133px;
  position :relative ; 
}
.box-left ,.box-right {
  width: 50%;
}
.box-left h2 {
  font-size: 45px;
  margin-top:75px;
  margin-bottom:30px;
  color:#fff;
}
.box-left p {
  color:#D0D0D0;
  margin-bottom: 0;
  font-size: 20px;
  text-align: center;
}
.box-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-left button {
  width: 191px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  background:#1d1a1a;
  border:none;
  outline:none;
  color:#fff;
  font-weight: bold;
  border-radius: 20px;
  transition:0.4s;
}



.box-left button:hover {
  background:orange;
}




.box-right {
  padding-left:200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-right img {
  margin:0px 10px;
  animation :animation 3s infinite linear; 
}
.box-right img:nth-child(1)
{
  animation-delay: 0.5s;
}
.box-right img:nth-child(2)
{ 
  animation-delay: 1s;
}
@keyframes animation {
  0%{
      transform:translateY(0px);
  }
  50%{
      transform: translateY(-10px);
  }
  100%{
      transform: translateY(0px);
  }
  
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.to-bottom {
  position:absolute;
  bottom:-40px;
  left:50%;
  transform:translateX(-50%);

}

.banner .to-bottom a img:hover{
  padding:2px; 
}


body{
  font-weight: 300;
  font-size: 1.05rem; 
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
}



/*  */
.btn{
  font-family: inherit;
  cursor: pointer; 
  outline: 0; 
  font-size: 1.05rem;
}

.text{
  opacity: 0.8;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem; 
}


/*  */
.container{
  margin-top: 10%;
  height: auto;
  background-color: #ffffff; 
}

.meal-wrapper{
  max-width: 1280px; 
  margin: 0 auto; 
  padding: 2rem; 
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(196, 213, 220));
  text-align: center; 
  box-shadow: 9px 5px 20px  rgb(5, 5, 15);
  border-radius: 90px; 


}

.meal-search{
  margin: 2rem 0;
}

.meal-search cite{
  font-size: 1rem;
}

.meal-search-box{
  margin: 1.2rem 0; 
  display: flex; 
  align-items: stretch;

}

.search-control, 
.search-btn{
  width: 100%; 
  
}

.search-control{
  padding: 0 1rem; 
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0; 
  border: 1px solid black;
  color: rgb(7, 6, 6);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: 0px 0px 9px black;


}

.search-control::placeholder{
  color: rgb(74, 74, 86);
  opacity: 0.7; 
}


.search-btn{
  width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: linear-gradient(to left, rgb(240, 118, 118), rgb(11, 11, 100));
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    box-shadow: 0px 0px 7px black;
  display: flex; 
  justify-content: center;
  align-items: center;
  
}

.search-btn:hover{
  background: rgb(18, 139, 245) !important;
}

.meal-result{
  margin-top: 4rem; 
}

#meal{
  margin: 2.4rem 0; 
}

.meal-item{
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 29px -12px rgba(10, 44, 214, 0.79);
  margin: 2rem 0;
}

.meal-img img{
  width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
}

.meal-name{
  padding: 1.5rem 0.5rem;
}

.meal-name h3{
  font-size: 1.4rem;
}

.recipe-btn{
  text-decoration: none;
  color: #fff;
  background: rgb(48, 48, 236); 
  font-weight: 500;
  font-size: 1.1rem;
  font-size: 1.1rem;
  padding: 0.75rem 0;
  display: block;
  width: 175px;
  margin: 1rem auto;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.recipe-btn:hover{
  background: rgb(8, 8, 112);
}


/* meal-detail */
.meal-details{
  display: none ;

   position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    background: rgb(1, 56, 184);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    height: 90%;
    overflow-y: scroll;
    padding: 2rem 0;
    margin-top:110px;
    margin-bottom: 100px; 
    padding-bottom: 10%; 
    z-index: 1;
}

.meal-details::-webkit-scrollbar{
  width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
  background: #f0f0f0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}


/* js related */
.showRecipe{
  display: block;
}

.meal-details-content{
  margin: 2rem;
}

.meal-details-content p:not(.recipe-category){
  padding: 1rem 0 ;
}

.recipe-close-btn{
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.recipe-title{
  letter-spacing: 1px;
  padding-bottom: 1rem;
}
.recipe-category{
  background: #fff;
  font-weight: 600;
  color: rgb(7, 7, 160);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.recipe-instruct{
  padding: 1rem 0;
}
.recipe-meal-img img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.recipe-link{
  margin: 1.4rem 0;
}
.recipe-link a{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.recipe-link a:hover{
  opacity: 0.6;
}




/* Media Queries */
@media screen and (min-width: 600px){
  .meal-search-box{
      width: 540px;
      margin-left: auto;
      margin-right: auto;
  }
}

@media screen and (min-width: 768px){
  #meal{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
  .meal-item{
      margin: 0;
  }
  .meal-details{
    width: 700px;
}
}

@media screen and (min-width: 992px){
  #meal{
      grid-template-columns: repeat(3, 1fr);
  }
}



/*Carousel*/
h2 {
  text-align: center;
  margin-bottom: 76px;
  font-size:32px;
  color:#626a67;
  font-weight: bold;
}

#blogcr .carou-cap {
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px
}

#blogcr .carou-cap h3{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size:28px;
  color:#fff;
  font-weight: bold;
}

#blogcr .carou-cap p{
  color:#fff ;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 15px;
}

.carousel-item img{
  height:325px ;
  object-fit: cover;
}



h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size:32px;
  color:#626a67;
}

.post{
  margin: auto; 
  height: auto; 
  margin-top: 5%;
  margin-bottom: 4%;

}

.post p{
  text-align: center;}


.post a {
  
  text-align: center;
  padding: 47%;
}


/*footer*/
.footer {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  position: relative;;
  bottom: 0;
  
}
.footer h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size:32px;
  color:#626a67;
}

.footer form {
  align-items: center;
}

.footer .row {
  padding-top:3%;
}

.footer .row p {
  text-align: center;
  color: #626a67;
  font-size: larger;
}
.footer .menu a {
  text-align: center;
  color: #626a67;
  font-size: larger;
}
.footer .menu a:hover {
  color: #fff;
}
.footer input[type="text"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #626a67;
  border-radius: 5px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom:20px ;
  background: transparent;
}
.menu a{
  margin: 5px;
  align-items: center;
  text-align: center;
}
.footer button {
  width: 171px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background:#626a67;
  border:none;
  outline:none;
  color:#ccc;
  font-weight: bold;
  border-radius: 20px;
  transition:0.4s;
  display: block;
}
.footer button:hover {
  background-color: #1d1a1a;
  color: #626a67;
}



  .footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: auto;
      padding: 20px;
  }

  .footer .col-xxl-7, .col-xxl-5 {
      width: 100%;
      margin-bottom: 20px;
  }


/* chatbox */
#chatbot-circle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #009688;
  color: rgb(255, 249, 249);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}


#chatbot-circle:hover{
  background-color: #04544c;

}
#chatbot-interface {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: auto;
}

#chatbot-messages {
  padding: 10px;
  height: 85%;
  overflow: auto;
}

#chatbot-input {
  width: 100%;
  height: 15%;
  padding: 5px;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  /* Kích thước màn hình là 768px hoặc nhỏ hơn */

  .banner {
      max-width: 100%;
      height: auto;
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
  }
  .box-left, .box-right {
      width: 100%;
      padding: 0;
      text-align: center;
  }
  h2 {
      font-size: 36px;
      margin-top: 30px;
  }
  .box-left p {
      font-size: 18px;
      padding: 0 20px;
  }
  .box-right {
      width: 50%;
      padding-left: 0; 
      padding-right: 0; 
      margin-top: 25px; 
  }
  .box-right img {
      width: 100%;
      margin: 20px 5px 0px 25px;
  
  }
/* 
  .container li{
      display: block;
      background-color: #009688;
  }
 */

  /*footer*/
  .footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: auto;
      padding: 20px;
  }

  .footer .col-xxl-7, .col-xxl-5 {
      width: 100%;
      margin-bottom: 20px;
  }

}
