/* *{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full-width{
    width: 100%;
}

.grid_row{
    display: flex;
    flex-wrap: wrap;
} */


body {
    background: linear-gradient(to right, rgb(4, 1, 51) , rgb(56, 19, 0) 90%);
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
     background-image: url('https://images.pexels.com/photos/1435904/pexels-photo-1435904.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
       background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .navbar {  
   
  
    background: linear-gradient(to bottom, #CB842D, #000000);
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid rgb(60, 58, 57);
  
  
  }
  
  .navbar h1{
      padding: 1rem 0;
      margin-left:5%
  }
  
  .navbar a {
      display: block;
      color: #fff;
      padding: 10px;
      text-decoration: none;
      margin-top: 120px ;
  }
  .navbar a > i{
      margin-right: 10px;
  }
  
  .navbar a:hover {
      background-color: #371818;
  }
  
  
  
  
  .black-box h2 {
      font-size: 1rem;
      color: #fe00fe;
      text-align: center;
      margin-top: 2.5rem;
  }
  
  .black-box h3 {
    font-size: 1rem;
    color: #fe00fe;
    text-align: center;
    margin-top: 4.7rem;
  }
  .black-box h4 {
    font-size: 1rem;
    color: #fe00fe;
    text-align: center;
    margin-top: 3rem;
  }
  
  #container_body_review_next{
      width: 2em;
      text-align: center;
      transition: transform 1.5s ease;
    }
    #container_body_review_next i{
      font-size: 30px;
      color: #fff;
    }
    
    #container_body_review_next:hover{
      transform: translateX(-180%);
    }
  
    #container_body_review_next_1{
      width: 2em;
      text-align: center;
      transition: transform 1.5s ease;
    }
    #container_body_review_next_1 i{
      font-size: 30px;
      color: #fff;
    }
    
    #container_body_review_next_1:hover{
      transform: translateX(-180%);
    }#container_body_review_next_2{
      width: 2em;
      text-align: center;
      transition: transform 1.5s ease;
    }
    #container_body_review_next_2 i{
      font-size: 30px;
      color: #fff;
    }
    
    #container_body_review_next_2:hover{
      transform: translateX(-180%);
    }
    .black-box {
      padding: 0 0 0 0 ;
      margin-top: 0;
      width: 820px;
      height: 500px; 
      background: linear-gradient(to top, #CB842D, #000000);
      position: absolute;
      top: 185px;
      left: 480px;
      border-radius: 5px;
  }
  