@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box ;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}
.header {
   
    width: 100%;
    padding:30px 0px;
    margin-top:0px;
    display: flex ;
    justify-content:space-around;
    align-items: center;
    background: linear-gradient(to left ,#17b176, #f42424 ) ;  

}
.logo0{
    padding-left: 3%;
}
.logo2 {
    padding-right:0px;
}
.navbar-brand{
    color:rgb(60, 54, 243);
}
.navbar-brand:hover {
    color: rgb(12, 8, 126);
}

h1 {
    font-size:32px;
    color:#626a67;
    font-weight: bold;
    text-align: center;
}
h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
    font-weight: bold;
}
h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size:32px;
    color:#626a67;
}
h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size:24px;
    color: orange;
    transition:0.4s;
}
.banner {
    width: 100%;
    background-image :url("https://github.com/hqteamobi/web_shop_ban_hang/blob/main/assets/banner.png?raw=true");
    height: 463px;
    margin-top:0px;
    display: flex;
    padding:0px 133px;
    position :relative ; 
}
.box-left ,.box-right {
    width: 50%;
}
.box-left h2 {
    font-size: 45px;
    margin-top:75px;
    margin-bottom:30px;
    color:#fff;
}
.box-left p {
    color:#D0D0D0;
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
}
.box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-left button {
    width: 191px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}
.box-left button:hover {
    background:orange;
}
.box-right {
    padding-left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-right img {
    margin:0px 10px;
    animation :animation 3s infinite linear; 
}
.box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
.box-right img:nth-child(2)
{ 
    animation-delay: 1s;
}
@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.to-bottom {
    position:absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);
}

/*footer*/
.footer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.footer h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size:32px;
    color:#626a67;
}

.footer form {
    align-items: center;
}
.footer .row p {
    text-align: center;
    color: #626a67;
    font-size: larger;
}
.footer .menu a {
    text-align: center;
    color: #626a67;
    font-size: larger;
}
.footer .menu a:hover {
    color: #fff;
}
.footer input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #626a67;
    border-radius: 5px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom:20px ;
    background: transparent;
}
.menu a{
    margin: 5px;
    align-items: center;
    text-align: center;
}
.footer button {
    width: 171px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background:#626a67;
    border:none;
    outline:none;
    color:#ccc;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
    display: block;
}
.footer button:hover {
    background-color: #1d1a1a;
    color: #626a67;
}


/*Blog*/
.blogs {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left:135px;
    padding-right:135px;
}

.blogs h2 {
    text-align: center;
    margin-top: 76px;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
}

.blogs p {
    text-align: center;
    margin-bottom: 76px;
    font-size:24px;
    color:#626a67;
}

.blogs h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size:32px;
    color:#626a67;
}

.blogs h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size:24px;
    color: orange;
    transition:0.4s;
}

.blogs h4:hover {
    color:#1d1a1a ;
}

.blogs .share button {
    width: 191px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
    display: block;
}

.blogs .share button:hover {
    background:orange;
}

/*background*/
.blogs {
    background-image :url("https://cdn.pixabay.com/photo/2021/01/01/18/25/internet-5879536_960_720.jpg");
}

/*Đăng bài*/
.share {
    width: 75%;
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=file] {
    width: 100%; 
    padding: 5px; 
    margin-top: 5px; 
    box-sizing: border-box;
}
 
input[type=submit] {
    width: 191px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
    display: block;
}
 
input[type=submit]:hover {
    background-color: tomato;
}

/*Carousel*/
#blogcr .carou-cap {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10;
    color: #fff;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px
}

#blogcr .carou-cap h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size:28px;
    color:#fff;
    font-weight: bold;
}

#blogcr .carou-cap p{
    color:#fff ;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px;
}

.carousel-item img{
    height:325px ;
    object-fit: cover;
}

/*bai viet*/
#post {
    padding: 20px 40px;
    margin: 20px auto;
    text-align: center;
    width: 80%;
    border-radius: 5px;
    background-color: #f2f2f2;
}

#post h5 {
    color: #333;
    font-size: 28px;
    margin-bottom: 15px;
}

#post p {
    color: #555;
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
}

#post img {
    display: block;
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    margin: 0 auto;
}

#post .like {
    color: #777;
    font-size: 20px;
    text-align: center;
}

#post .author {
    color: #777;
    font-size: 20px;
    text-align: center;
}

#post .date {
    color: #777;
    font-size: 20px;
    text-align: center;
}

.comments {
    width: 80%;
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.post button {
    width: 191px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
    display: block;
}

.post button:hover {
    background:orange;
}

/*yeu thich*/
.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
}

.heart-icon {
    width: 20px;
    height: 20px;
    fill: #ccc; 
    margin-top: 7px;
}

.favorite-button.clicked {
    background-color: red;
}

/*cong thuc*/
#post h6 {
    color: orangered;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}
#post h7 {
    color: black;
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}
#post h8 {
    color: black;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/*lien he*/ /*calo*/
.contactus, .calo {
    width: 80%;
    padding: 20px 40px;
    margin: 20px auto;margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.contactus [type=text], textarea, input[type=email], input[type=phone] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.calo [type=number], input[type=radio], input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.calo #demand , #gender {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#list-post {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

#list-post .item {
    width: 255px;
    height: 340px;
    background:#362f2f;
    border-radius: 10px;
    margin-bottom: 50px;
}

#list-post .item img {
    display: block;
    margin:0px auto;
    margin-top:15px;
    width: 255px;
    height: 170px;
    object-fit: cover;
}

#list-post .item .text {
    text-align: center;
    color: #fff;
    font-size: large;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#list-post .item .name {
    text-align: center;
    color: #fff;
    font-size: larger;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    transition:0.4s;
}

#list-post .item:hover {
    transform: scale(1.1);
}


.result h3 {
    font-weight: bold;
    font-size: 28px;
    color: #000;
}

.result h3:hover {
    color: orangered;
}

/*gio hang*/
.cart {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}
.summary {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}
.cart h2, .summary h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cart ul {
    list-style-type: none;
    padding: 0;
}
.cart li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.cart li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}
.cart .items h3, .summary h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 5px;
}
.cart .items p, .summary p {
    color: #666;
    font-size: 16px;
    margin: 5px 0;
}
.remove {
    width: 191px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 50px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
    display: block;
}
.checkout {
    width: 191px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
    display: block;
}
.remove:hover, .checkout:hover {
    background:orange;
}
.thanks h2 {
    text-align: center;
    margin: auto;
    font-size:24px;
    color:#626a67;
}
.thanks {
    margin-bottom: 76px;
    margin-top: 36px;
}
a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* Kích thước màn hình là 768px hoặc nhỏ hơn */

    .banner {
        max-width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }
    .box-left, .box-right {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    h2 {
        font-size: 36px;
        margin-top: 30px;
    }
    .box-left p {
        font-size: 18px;
        padding: 0 20px;
    }
    .box-right {
        width: 50%;
        padding-left: 0; 
        padding-right: 0; 
        margin-top: 25px; 
    }
    .box-right img {
        width: 100%;
        margin: 20px 5px 0px 25px;
    }

    /*footer*/
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 20px;
    }

    .footer .col-xxl-7, .col-xxl-5 {
        width: 100%;
        margin-bottom: 20px;
    }

    /*blog-dangbai*/
    .blogs {
        padding: 50px 15px; 
    }

    .blogs .share {
        width: 100%;
    }

    .blogs h2 {
        font-size: 28px; 
        margin-bottom: 30px; 
    }

    .blogs p {
        font-size: 16px; 
        margin-bottom: 30px; 
    }

    .blogs h3 {
        font-size: 28px; 
        margin-bottom: 15px; 
    }

    .blogs h4 {
        font-size: 20px;
        margin-bottom: 15px; 
    }

    /*carou*/
    #blogcr .carou-cap h3{
        margin-top: 10px;
        margin-bottom: 5px;
        font-size:20px;

    }
    
    #blogcr .carou-cap p{
        font-size: 14px;
        margin-bottom: 10px;
    }

    .carousel-item img{
        height:275px ;
    }
    
    /*post*/
    #post {
        width: 100%;
    }

    .comments {
        width: 100%;
    }
    
    /*lien he*/
    .contactus {
        width: 100%;
    }

    /*Calo*/
    .result h3{
        font-size: 24px;
    }

    /* Cart */
    .cart, .summary{
        padding: 20px;
        width: 100%;
    }

    .cart ul {
        padding: 0;
    }

    .cart li {
        flex-direction: column;
        align-items: center;
        border-bottom: none;
    }

    .cart .remove{       
        margin-left: auto; /* Đảm bảo nút ở giữa */
        margin-right: auto; /* Đảm bảo nút ở giữa */
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .cart img{
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .thanks h2{
        font-size: 20px; 
        margin-bottom: 0;
    }
    /* Các điều chỉnh khác tùy thuộc vào nhu cầu của trang web */
}
