
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box ;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}


::selection{
    color: #fff;
    background: #664AFF;
  }

.header {
   
        width: 100%;
        padding:30px 0px;
        margin-top:0px;
        display: flex ;
        justify-content:space-around;
        align-items: center;
        background: linear-gradient(to left ,#17b176, #f42424 ) ;  
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; 
    
    

}.logo0{
    padding-left: 3%;
}

/* .logo1 {
    margin-left: 0;

} */
.logo2 {
    padding-right:0px;
}

.navbar-brand{
    color:rgb(60, 54, 243);
}

.navbar-brand:hover {
    color: rgb(12, 8, 126);
}

h1 {
    font-size:32px;
    color:#626a67;
    font-weight: bold;
    text-align: center;
}
h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:72px;
    color:#626a67;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
}

.banner {
    width: 100%;
    background-image :url("https://github.com/hqteamobi/web_shop_ban_hang/blob/main/assets/banner.png?raw=true");
    height: 463px;
    margin-top:100px;
    display: flex;
    padding:0px 133px;
    position :relative ; 
}
.box-left ,.box-right {
    width: 50%;
}
.box-left h2 {
    font-size: 45px;
    margin-top:75px;
    margin-bottom:30px;
    color:#fff;
}
.box-left p {
    color:#D0D0D0;
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
}
.box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-left button {
    width: 191px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}



.box-left button:hover {
    background:orange;
}




.box-right {
    padding-left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-right img {
    margin:0px 10px;
    animation :animation 3s infinite linear; 
}
.box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
.box-right img:nth-child(2)
{ 
    animation-delay: 1s;
}
@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.to-bottom {
    position:absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);

}

.banner .to-bottom a img:hover{
    padding:2px; 
}


#Bangsp {
    padding-top:116px;
    padding-bottom: 78px;
    padding-left:134px;
    padding-right:134px;
}

#Bangsp h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
}

.list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.list-products .item {
    width: 290px;
    height: 374px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
    transition: transform 0.5s ease;
}
.list-products .item :hover
{
    transform: scale(1.1);
}

.list-products .item img {
    width: 250px;
    height:250px;
    display: block;
    margin:0px auto;
    margin-top:17px;
}

.list-products .item .name {
    text-align: center;
    color:#b82217;
    font-weight: bold;
    margin-top:21px;
}

.list-products .item .desc {
    text-align: center;
    color:#626a67;
}

.list-products .item .price {
    text-align: center;
    color:#f42424;
    font-weight: bold;
    margin-top:20px;
}
.list-products .item .buttonmenu {
    text-align: center;
    color:#b82217;
    font-weight: bold;
    margin-top:21px;
}
.list-products .item .buttonmenu .dau.x1{
    width: 30px;
    height: 30px;
    border: 30px;
    border-radius: 50%;

}
.list-products .item .buttonmenu .dau.x2{
    width: 70px;
    height: 30px;
    border: 30px;
}
.list-products .item .buttonmenu .dau.x3{
    width: 30px;
    height: 30px;
    border: 30px;
    border-radius: 50%;
}
.list-products .item .buttonmenu .dau.x4{
    width: 100px;
    height: 50px;
    margin-left: 30px;
    border-radius: 10%;
    background-color: #f42424;
    color: #fff;
    transition: 0.5s;
}
.list-products .item .buttonmenu .dau.x4:hover
{
    background-color: #17b176;
}



/*Carousel*/
h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
    font-weight: bold;
}

#blogcr .carou-cap {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10;
    color: #fff;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px
}

#blogcr .carou-cap h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size:28px;
    color:#fff;
    font-weight: bold;
}

#blogcr .carou-cap p{
    color:#fff ;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px;
}

.carousel-item img{
    height:325px ;
    object-fit: cover;
}



h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size:32px;
    color:#626a67;
}

.post{
    margin: auto; 
    height: auto; 
    margin-top: 5%;
    margin-bottom: 4%;

}

.post p{
    text-align: center;}


.post a {
    
    text-align: center;
    padding: 47%;
}


/*footer*/
.footer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.footer h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size:32px;
    color:#626a67;
}

.footer form {
    align-items: center;
}

.footer .row {
    padding-top:3%;
}

.footer .row p {
    text-align: center;
    color: #626a67;
    font-size: larger;
}
.footer .menu a {
    text-align: center;
    color: #626a67;
    font-size: larger;
}
.footer .menu a:hover {
    color: #fff;
}
.footer input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #626a67;
    border-radius: 5px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom:20px ;
    background: transparent;
}
.menu a{
    margin: 5px;
    align-items: center;
    text-align: center;
}
.footer button {
    width: 171px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background:#626a67;
    border:none;
    outline:none;
    color:#ccc;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
    display: block;
}
.footer button:hover {
    background-color: #1d1a1a;
    color: #626a67;
}



    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 20px;
    }

    .footer .col-xxl-7, .col-xxl-5 {
        width: 100%;
        margin-bottom: 20px;
    }



/* search automation */

::selection{
  color: #fff;
  background: #664AFF;
}

.wrapper{
  max-width: 450px;
  margin: 150px auto;
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
/* chatbox */
#chatbot .chatbox img
{
    display: block;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #bc0e0e;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}
.chatbox2
{
    display: block;
    border-radius: 50%;
    position: fixed;
    bottom: 62px;
    right: 10px;
    background-color: #cc0a0a;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}


@media only screen and (max-width: 768px) {
    /* Kích thước màn hình là 768px hoặc nhỏ hơn */

    .banner {
        max-width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }
    .box-left, .box-right {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    h2 {
        font-size: 36px;
        margin-top: 30px;
    }
    .box-left p {
        font-size: 18px;
        padding: 0 20px;
    }
    .box-right {
        width: 50%;
        padding-left: 0; 
        padding-right: 0; 
        margin-top: 25px; 
    }
    .box-right img {
        width: 100%;
        margin: 20px 5px 0px 25px;
    
    }
/* 
    .container li{
        display: block;
        background-color: #009688;
    }
   */

    /*footer*/
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 20px;
    }

    .footer .col-xxl-7, .col-xxl-5 {
        width: 100%;
        margin-bottom: 20px;
    }

}
